html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #2e2e39;
}

#particles-js {
    height: 100%;
}